.wrapper{
    background-color: #f0f0f0;
    height: 58rem;
    width: fill;
}

/*------------------------------------*/

/*.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.pagination{
	float: right;
}

.form-control{
	width: 500px;
}

#descricao{
	width: 600px;
	height: 100px;
}

#excluirbutton{
	background-color: purple;
}

.card-sugestions{
	border:1px solid black;
	float:left;
}*/
