<section class="content-header" style="margin-top:70px">
  <h1>Cadastrar</h1>
</section>

<section class="content">
  <div class="container">

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Nome Completo:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Username:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Senha:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" >
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <div class="row">
              <div class="col"><input type="checkbox" class="form-check-input"></div>
              <div class="col">Lembrar Usuário</div>
          </div>
        </label>
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
      <button id="cancelar" class="btn btn-primary" [routerLink]="['/']">Cancelar</button>
    </form>
  </div>
</section>
