body {
  padding-top: 5rem;
}

.content{
   margin-top:30px;
}

h1{
   text-align:center;
}

.row{
  margin:10px;
  border: 1px;
  border-color: black;
}

.col{
  margin-left:20px;
  float: right;
}

.col-colapse{
  float: right;
}
