body {
  padding-top: 5rem;
}

.content{
   margin-top:30px;
}

h1{
   text-align:center;
   font-size: 4rem;
}

.row{
  margin:10px;
  border: 1px;
  border-color: black;
}

.col{
  margin-left:20px;
  float: right;
}

.col-colapse{
  float: right;
}

#cadastro{
  font-size: 1.5rem;
  background-color: green;
  border-color: green;
  display: block;
  margin:auto;
  width: 70%;
}

#cadastro:hover{
  background-color: #006600;
  border-color: #006600;
  font-size: 1.5rem;
}

#font{
  font-size: 1.2rem;
}

p{
  font-size: 1.5rem;
}

#perfil{
  padding: 2%;
  display: block;
  margin:auto;
  width: 50%;
}
