body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.card-principal {
	float: left;
	border:1px solid black;
}

.card{
	border:1px solid black;
	float: right;
}
.pagination{
	float: right;
}

.form-control{
	width: 500px;
}

#semCadastro{
	background-color: red;
}

#descricao{
	width: 600px;
	height: 100px;
}

#excluirbutton{
	background-color: purple;
}

.card-sugestions{
	border:1px solid black;
	float:left;
}