<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h1>Welcome to {{title}}!</h1>

    <div class="row">
      <div class="col-colapse">
        <div class="card-principal" style="width: 20rem;">
          <img class="card-img-top" src="assets/img/admin.jpeg" alt="Card image cap">

          <div class="card-body">
           <h3 id="perfil" class="card-title">Administrador</h3>
          </div>

          <div class="row1"><a id="bUser" href="#" class="btn btn-primary">Editar Perfil</a></div>
          <div class="row1"><a id="bUser" href="#" class="btn btn-primary">Adicionar Jogo</a></div>
          <div class="row1"><a id="bUser" href="#" class="btn btn-primary">Excluir Usuário</a></div>

        </div>
      </div>

      <div class="col">
        <div class="card w-75">
          <h2 class="card-header">Sugestões dos Usuários</h2>

          <div class="card-body">
           <ol>
             <li><p class="card-text">Nome do usuário: Jogo que ele recomendou.</p>
               <a id="font" href="#" class="btn btn-primary">ADICIONAR</a>
               <a id="font" href="#" class="btn btn-primary">APAGAR</a></li>
             <li><p class="card-text">Nome do usuário: Jogo que ele recomendou.</p>
               <a id="font" href="#" class="btn btn-primary">ADICIONAR</a>
               <a id="font" href="#" class="btn btn-primary">APAGAR</a></li>
             <li><p class="card-text">Nome do usuário: Jogo que ele recomendou.</p>
               <a id="font" href="#" class="btn btn-primary">ADICIONAR</a>
               <a id="font" href="#" class="btn btn-primary">APAGAR</a></li>
             <li><p class="card-text">Nome do usuário: Jogo que ele recomendou.</p>
               <a id="font" href="#" class="btn btn-primary">ADICIONAR</a>
               <a id="font" href="#" class="btn btn-primary">APAGAR</a></li>
             <li><p class="card-text">Nome do usuário: Jogo que ele recomendou.</p>
               <a id="font" href="#" class="btn btn-primary">ADICIONAR</a>
               <a id="font" href="#" class="btn btn-primary">APAGAR</a></li>
           </ol>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
