body{
  background-color: #f0f0f0;
}

h1{
   text-align:center;
   margin-top:70px
}

#cancelar{
  font-size: 1.5rem;
  color: black;
  /*text-decoration: underline;*/
	background-color: #f0f0f0;
  border-color: black;
}

#cancelar:hover {
  color: white;
  text-decoration: none;
  background-color: #474747;
}

.content{
  padding: 2%;
  display: block;
  margin:auto;
  width: 50%;
}

#info{
  font-size: 1.5rem;
}

button{
  margin: 1%;
}

#descartar{
  font-size: 1.5rem;
  color: #A52A2A;
  /*text-decoration: underline;*/
	background-color: #f0f0f0;
  border-color: #A52A2A;
}

#descartar:hover {
  color: white;
  text-decoration: none;
  background-color: #A52A2A;
}

#excluir{
  font-size: 1.5rem;
  color: #A52A2A;
  text-decoration: underline;
	background-color: #f0f0f0;
  border: none;
}

#excluir:hover {
  color: white;
  text-decoration: none;
  background-color: #A52A2A;
}

#descricao{
  height: 10rem;
}
