<body>
  <section class="content-header" style="margin-top:70px">
    <h1>Editar Perfil</h1>
  </section>

  <section class="content">
    <div class="container">

      <form>
        <div class="form-group">
          <label id="info" for="exampleInputEmail1">Nome Completo:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>

        <div class="form-group">
          <label id="info" for="exampleInputEmail1">Email:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>

        <div class="form-group">
          <label id="info" for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
          <label id="info" for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="form-group">
          <label id="info" for="exampleInputPassword1">Descrição do Perfil</label>
          <input id="descricao" type="description" class="form-control">
        </div>

        <div class="form-group">
          <label id="info" for="exampleFormControlFile1">Foto de perfil</label>
          <input id="info" type="file" class="form-control-file">
        </div>

        <button id="info" type="infor" class="btn btn-primary" [routerLink]="['/']">Salvar Alterações</button>
        <button id="descartar" class="btn btn-primary" [routerLink]="['/edit-profile']">Descartar Alterações</button>
        <button id="cancelar" class="btn btn-primary" [routerLink]="['/']">Cancelar</button>
        <button id="excluir" class="btn btn-primary" [routerLink]="['/']">Excluir Perfil</button>
      </form>
    </div>
  </section>
</body>
